C 0 0 "NC1" 0 0 0 0 60 0 L
X "PIN_TEXT" "NC1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "3D_FIX" 0 -100 0 0 60 0 L
X "PIN_TEXT" "3D_FIX" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "I2C_SDA" 0 -200 0 0 60 0 L
X "PIN_TEXT" "I2C_SDA" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "GND2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "GND2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "I2C_SCL" 0 -500 0 0 60 0 L
X "PIN_TEXT" "I2C_SCL" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "EXTINT0" 0 -600 0 0 60 0 L
X "PIN_TEXT" "EXTINT0" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "V_BCKP" 0 -700 0 0 60 0 L
X "PIN_TEXT" "V_BCKP" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "VDD" 0 -800 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "GND3" 0 -900 0 0 60 0 L
X "PIN_TEXT" "GND3" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "GND4" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "GND4" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "GND5" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "GND5" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "GND6" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "GND6" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "GND7" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "GND7" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "GND8" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "GND8" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "RF_OUT" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "RF_OUT" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 1500 0 "RF_IN" 1500 0 0 0 60 0 R
X "PIN_TEXT" "RF_IN" 1270 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 0 1500 0 -1 0
C 1500 -100 "GND9" 1500 -100 0 0 60 0 R
X "PIN_TEXT" "GND9" 1270 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -100 1500 -100 -1 0
C 1500 -200 "GND10" 1500 -200 0 0 60 0 R
X "PIN_TEXT" "GND10" 1270 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -200 1500 -200 -1 0
C 1500 -300 "JAM_DET" 1500 -300 0 0 60 0 R
X "PIN_TEXT" "JAM_DET" 1270 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -300 1500 -300 -1 0
C 1500 -400 "GND11" 1500 -400 0 0 60 0 R
X "PIN_TEXT" "GND11" 1270 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -400 1500 -400 -1 0
C 1500 -500 "GND12" 1500 -500 0 0 60 0 R
X "PIN_TEXT" "GND12" 1270 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -500 1500 -500 -1 0
C 1500 -600 "RESET" 1500 -600 0 0 60 0 R
X "PIN_TEXT" "RESET" 1270 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -600 1500 -600 -1 0
C 1500 -700 "GEO_FENCE" 1500 -700 0 0 60 0 R
X "PIN_TEXT" "GEO_FENCE" 1270 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -700 1500 -700 -1 0
C 1500 -800 "TXD1" 1500 -800 0 0 60 0 R
X "PIN_TEXT" "TXD1" 1270 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -800 1500 -800 -1 0
C 1500 -900 "RXD1" 1500 -900 0 0 60 0 R
X "PIN_TEXT" "RXD1" 1270 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -900 1500 -900 -1 0
C 1500 -1000 "GND13" 1500 -1000 0 0 60 0 R
X "PIN_TEXT" "GND13" 1270 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -1000 1500 -1000 -1 0
C 1500 -1100 "FORCE_ON" 1500 -1100 0 0 60 0 R
X "PIN_TEXT" "FORCE_ON" 1270 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -1100 1500 -1100 -1 0
C 1500 -1200 "TIMEPULSE" 1500 -1200 0 0 60 0 R
X "PIN_TEXT" "TIMEPULSE" 1270 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -1200 1500 -1200 -1 0
C 1500 -1300 "ANTON" 1500 -1300 0 0 60 0 R
X "PIN_TEXT" "ANTON" 1270 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -1300 1500 -1300 -1 0
C 1500 -1400 "GND14" 1500 -1400 0 0 60 0 R
X "PIN_TEXT" "GND14" 1270 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -1400 1500 -1400 -1 0
L 200 100 1300 100 -1 0
L 1300 -1600 1300 100 -1 0
L 1300 -1600 200 -1600 -1 0
L 200 100 200 -1600 -1 0
P "$LOCATION" "?" 1350 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

